<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imple.board.mapper.BoardMapper">

	<select id="countAll">
		select count(*) from board
	</select>
	<select id="selectUsers">
		select * from user where id = #{id}
	</select>
	<resultMap type="com.example.imple.user.model.User" id="withUsersResultMap">
		<result property="id" column="id"/>
	</resultMap>
	
	
	
	<select id="selectAll">
		select * from board
	</select>
	<select id="selectAllWithUsers" resultMap="withUsersResultMap">
		select * from board
	</select>
	
	
	
	<select id="selectPage">
		select * from board
	</select>
	<select id="selectPageWithUsers" resultMap="withUsersResultMap">
		select * from board
	</select>
	
	
	
	<select id="selectByNum">
		select * 
		  from  board 
		  where num = #{num}
	</select>
	<select id="selectByIdWithUser" resultMap="withUsersResultMap">
		select * from board
		where id = #{id}
	</select>

























</mapper>