<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.imple.board.mapper.BoardMapper">

	<select id="countAll">
		select count(*) from board
	</select>
	
	<update id="updateHitcount">
		UPDATE board
		   SET hitcount = hitcount + 1
		 WHERE bno = #{bno}
	</update>
	
	<!-- 글 상세조회 -->
	<select id="viewDetail" resultType="com.example.imple.board.model.Board" parameterType="int">
		SELECT * FROM BOARD WHERE bno = #{bno}
	</select>
	
	
	
	<select id="selectAll">
		select * 
		  from board
		 order by bno desc
	</select>
	
	<select id="selectPage">
		select * 
		  from board
		 order by bno
	</select>
	
	<select id="selectByBno">
		select * 
		  from  board 
		  where bno = #{bno}
	</select>
	

	<!-- 	insert / update / delete -->
	<insert id="insertBoard">
		insert into board 
		values ( board_bno_seq.nextval, 
				#{id,		jdbcType=VARCHAR}, 
				#{pwd,  	jdbcType=VARCHAR}, 
				#{email,	jdbcType=VARCHAR}, 
				#{subject,	jdbcType=VARCHAR}, 
				#{content,	jdbcType=VARCHAR}, 
				#{created,	jdbcType=DATE}, 
				#{hitcount, jdbcType=INTEGER} 
				)
	<selectKey keyProperty="bno" resultType="INTEGER" order="AFTER"> select
		board_bno_seq.currval from dual </selectKey>
	</insert>
	
	<update id="updateBoard"> 
		update board 
		   set 
			   email   = #{email,   jdbcType=VARCHAR}, 
			   subject = #{subject, jdbcType=VARCHAR}, 
			   content = #{content, jdbcType=VARCHAR}, 
		 where bno     = #{bno} 
	</update>
	
	<delete id="delete"> delete from board where bno = #{bno} </delete>


</mapper>






















